@charset "UTF-8";

main {
  display: block;
  -webkit-overflow-scrolling: touch;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 0;
}

a, label, button, select, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

/* owl */
* {
  border-color: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}
*:after, *:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  position: absolute;
}
*:not(script):not(link):not(meta):not(style) ~ * {
  margin-top: 1em;
}

:root > * + *, :root body > * + * {
  margin-top: 0;
}

a:focus {
  outline: none;
}

@-ms-viewport {
  width: device-width;
}
html, body, font {
  color: #646463;
  font: 14px/1.4em Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  -ms-touch-select: none;
}

body {
  background: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
  color: #894082;
  display: block;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: 1.25em;
  margin: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}
*:not(script):not(link):not(meta):not(style) + h1, *:not(script):not(link):not(meta):not(style) + h2, *:not(script):not(link):not(meta):not(style) + h3, *:not(script):not(link):not(meta):not(style) + h4, *:not(script):not(link):not(meta):not(style) + h5, *:not(script):not(link):not(meta):not(style) + h6 {
  margin-top: .5em;
}

h2, h4, h5 {
  font-weight: 200;
}

h1 {
  font-size: 3.5714em;
}

h2 {
  font-size: 2.8572em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7143em;
}

h5 {
  font-size: 1.2857em;
}

a, p a {
  color: #178399;
  text-decoration: none;
}
a:hover, a:active, a:focus, p a:hover, p a:active, p a:focus {
  text-decoration: underline;
}
a:hover, p a:hover {
  color: #1ea9c5;
}
a:active, a:focus, p a:active, p a:focus {
  color: #105d6d;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  white-space: normal;
}

.l-wrapper {
  margin: 0 10px;
}

.l-container {
  border-radius: 6px;
  padding: 12px;
}


.l-page {
  -webkit-animation: fade-in-up 0.5s cubic-bezier(0.55, 0, 0.1, 1) both;
  animation: fade-in-up 0.5s cubic-bezier(0.55, 0, 0.1, 1) both;
}

.o-wrapper {
  padding: 1.4em;
}
.o-wrapper__flush {
  margin-left: -1.4em;
  margin-right: -1.4em;
}

.c-btn {
  background: #7e7e7c;
  border: none;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  padding: 0.9286em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background .25s ease-out, color .25s ease-out;
  transition: background .25s ease-out, color .25s ease-out;
  vertical-align: middle;
  width: auto;
}
.c-btn:hover, .c-btn:active, .c-btn:focus {
  color: #fff;
  text-decoration: none;
}
.c-btn:hover {
  background: #979796;
}
.c-btn:active, .c-btn:focus {
  background: #646463;
}
.c-btn:disabled {
  opacity: .5;
}

button, input, textarea, select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: inherit;
  display: block;
  font-size: 1em;
  line-height: 1em;
  outline: none;
  padding: 0;
}

label {
  display: block;
  font-weight: 800;
}
label * {
  font-weight: 400;
}
label > * {
  margin-top: .5em;
}

input, textarea, select {
  width: 100%;
}

.c-input, textarea, .c-select, .c-checkbox, .c-radio, .c-checkbox input, .c-radio input {
  background: #fff;
  border: 1px solid #cacac9;
  border-radius: 6px;
}
label .c-input, label textarea, label .c-select, label .c-checkbox, label .c-radio, label .c-checkbox input, .c-checkbox label input, label .c-radio input, .c-radio label input {
  margin-top: .5em;
}

textarea, .c-select, .c-select select, .c-checkbox, .c-radio {
  padding: 0.857em 10px;
}

.c-checkbox:selection, .c-radio:selection {
  background: none;
}

.c-input input {
  padding: 0.785em 10px;
}

textarea {
  line-height: 1.4em;
  resize: vertical;
  overflow: auto;
}

.c-select {
  position: relative;
  overflow: hidden;
  line-height: 1em;
}
.c-select {
  padding-right: 2.4286em;
}
.c-select:after {
  content: "\e655";
  padding: 0;
}
.c-select:after {
  display: block;
  position: absolute;
  margin-top: -.5em;
  top: 50%;
  right: 0.7143em;
}
.c-select span {
  display: inline-block;
}
.c-select select {
  padding-right: 70px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 0;
  bottom: 0;
  width: 105%;
  opacity: 0;
  z-index: 1;
}
.c-select select:-ms-expand {
  display: none;
}
@-moz-document url-prefix() {
  .c-select select {
    -moz-appearance: none;
    overflow: -moz-hidden-unscrollable;
    padding-top: 0;
    padding-bottom: 0;
    text-indent: 0.01px;
    text-overflow: "";
    color: transparent;
    text-shadow: 0 0 0 #646463;
  }
}
.c-select select option {
  margin-top: 0;
}


.c-checkbox, .c-radio {
  padding-left: 2.4286em;
  position: relative;
}
.c-input-group .c-checkbox, .c-input-group .c-radio {
  padding-top: 0.6643em;
  padding-bottom: 0.6643em;
}
.c-checkbox input, .c-radio input {
  border-radius: 4px;
  height: 1em;
  left: 0.7143em;
  margin-top: -.5em;
  position: absolute;
  top: 50%;
  width: 1em;
}
.c-checkbox input:checked, .c-radio input:checked {
  background: #178399;
}
.c-radio input {
  border-radius: 4em;
}
.c-radio input:checked {
  border-color: #178399;
}

.s-content {
  padding-top: 1em;
  padding-bottom: 2em;
  min-height: -webkit-calc(100vh - 87px - 306px);
  min-height: calc(100vh - 87px - 306px);
}

/* utils */
.u-show {
  display: block !important;
}
.u-show--inline {
  display: inline-block !important;
}
.u-hide {
  display: none !important;
}
.u-invisible, .u-hide {
  opacity: 0 !important;
  visibility: hidden !important;
}
.u-visible, .u-show, .u-show--inline {
  opacity: 1 !important;
  visibility: visible !important;
}
